body{
	font-family: 'Raleway', sans-serif;
}
header{
	background: url("../img/background_header.jpg") no-repeat;
	height: 750px;
	background-size: cover;
}
#logotipo{
	margin-top: 38px;
	margin-bottom: 38px;
}
header .nav{
	justify-content: flex-end;
}
header .nav-link{
	font-size: 13px;
	padding-top: 38px;
	padding-bottom: 38px;
	color: #cbccd3;
	font-weight: bold;
}
header .nav-link:hover{
	background: #fff;
	color: #31344e;
}
.mt-150{
	margin-top: 150px;
}
.mb-150{
	margin-bottom: 150px;
}
.names{
	font-size: 1.4rem;
	color: #3b3e41;
}
.name-color{
	color: #e94a4a;
	font-size: .84rem;
}
.introduction-name{
	font-size: .88rem;
}
.rectangulo{
	height: 1px;
	justify-content: flex-end;
	background-color: #505167;
}
.main{
	color: #fff;
	padding: 150px;
	text-align: center;
}
.titulo{
	font-weight: bold;
}
@media screen and (min-width: 715px) {
	#logotipo{
		margin-top: 38px;
		margin-bottom: 38px;
		width: 189px;
	}
}
@media screen and (min-width: 420px) and (max-width: 715px) {
	.titulo{
		font-size: 1.6rem;
	}
	body{
		font-size: .8rem;
	}
	.main{
		padding: 105px 5px;
	}
	#logotipo{
		width: 400px;
	}
}
@media screen and (min-width: 715px) and (max-width: 835px) {
	.titulo {
		font-size: 30px;
	}
	body{
		font-size: .8rem;
	}
	.main{
		padding: 105px 30px;
	}
}

@media screen and (min-width: 835px) and (max-width: 1080px) {
	.titulo {
		font-size: 40px;
	}
	body{
		font-size: .9rem;
	}
	.main{
		padding: 100px
	}
}

@media screen and (min-width: 1080px) {
	.titulo {
		font-size: 50px;
	}
	body{
		font-size: 1rem;
	}
	.main{
		padding: 150px;
	}
}
 .boton{
 	padding-top: 80px;
 }
 .btn{
 	font-size: 12px;
 	padding: 18px 54px;
 }